name: 'CMake macOS'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  # Note: [GHA Default environment variables](https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/store-information-in-variables#default-environment-variables)

  macOS:
    name: macOS ${{ matrix.cmake.configure_preset }}
    runs-on: ${{ matrix.image }}
    # if: false # always skip job
    strategy:
      fail-fast: false
      matrix:
        image:    [ macos-15 ]
        os:       [ macos ]
        cmake:
        - {
            cx:                 "clang++",
            configure_preset:   "clang",
            build_preset:       "clang-release"
          }

    steps:

    - name: Trigger event
      run: |
        echo "Triggered by ${{ github.event_name }}"

    - name: Install required build dependencies on ${{ matrix.image }}
      # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
      run: |
        brew update
        brew install ninja pipx llvm@19
        # set the path to homebrew's LLVM
        echo "$(brew --prefix llvm@19)/bin" >> $GITHUB_PATH

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set Github runner's env (CXX=${{ matrix.cmake.cxx }})
      run: |
        echo "CXX=${{ matrix.cmake.cxx }}" >> $GITHUB_ENV

    - name: CMake configuration
      env:
      run: |
        conan list '*'
        cmake --list-presets
        cmake --preset ${{ matrix.cmake.configure_preset }}

    - name: CMake build
      run: |
        cmake --build --preset ${{ matrix.cmake.build_preset }}

