name: 'CMake macOS'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  # Note: [GHA Default environment variables](https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/store-information-in-variables#default-environment-variables)

  macOS:
    name: macOS ${{ matrix.cmake.configure_preset }}
    runs-on: ${{ matrix.image }}
    # if: false # always skip job
    strategy:
      fail-fast: false
      matrix:
        image:    [ macos-15 ]
        os:       [ macos ]
        cmake:
        - {
            cxx:                "clang++",
            configure_preset:   "clang",
            build_preset:       "clang-release"
          }
        - {
            cxx:                "clang++",
            configure_preset:   "clang-libc++",
            build_preset:       "clang-libc++-release"
          }

    steps:

    - name: Trigger event
      run: |
        echo "Triggered by ${{ github.event_name }}"

    - name: Install required build dependencies on ${{ matrix.image }}
      # https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
      run: |
        brew update
        brew install ninja llvm@19
        # set the path to homebrew's LLVM
        echo "$(brew --prefix llvm@19)/bin" >> $GITHUB_PATH

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set Github runner's env (CXX=${{ matrix.cmake.cxx }})
      run: |
        echo "CXX=${{ matrix.cmake.cxx }}" >> $GITHUB_ENV
        echo "---- clang version -------"
        clang --version
        echo "-----clang-19 version ------"
        clang-19 --version
        echo "----- which clang ------"
        which clang-19
        echo "----- which clang++ ------"
        # which clang++-19
        echo "------ cat 1 -----"
        ls -la /opt/homebrew/etc/clang
        cat /opt/homebrew/etc/clang/arm64-apple-darwin15.cfg
        # There is no ~/.config/clang
        echo "----- cat 3 ------"
        cat /opt/homebrew/etc/clang/arm64-apple-darwin24.cfg
        echo "---- clang++ version -------"
        clang++ --version

    - name: CMake configuration
      run: |
        cmake --list-presets
        cmake --preset ${{ matrix.cmake.configure_preset }}

    - name: CMake build
      run: |
        cmake --build --preset ${{ matrix.cmake.build_preset }}

