name: 'CMake Windows'

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:

  # Note: [GHA Default environment variables](https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/store-information-in-variables#default-environment-variables)

  Windows:
    name: Windows ${{ matrix.cmake.configure_preset }}
    runs-on: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image:                  [ windows-2022 ]
        os:                     [ windows ]
        cmake:
        - {
            cxx:                "cl",
            configure_preset:   "msvc",
            build_preset:       "msvc-release",
            vcvars:             "C:\\Program Files\\Microsoft Visual Studio\\2022\\Enterprise\\VC\\Auxiliary\\Build\\vcvars64.bat"
          }

    steps:

    - name: Trigger event
      run: |
        echo "Triggered by ${{ github.event_name }}"

    - name: Install required build dependencies on ${{ matrix.image }}
      # https://github.com/actions/runner-images/blob/main/images/windows/Windows2022-Readme.md
      run: |
        choco install ninja doxygen.portable

    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set Github runner's env (CXX=${{ matrix.cmake.cxx }})
      shell: cmd
      run: |
        echo "CXX=${{ matrix.cmake.cxx }}" >> $GITHUB_ENV

    - name: CMake configuration
      run: |
        call "${{ matrix.cmake.vcvars }}"
        cmake --list-presets
        cmake --preset ${{ matrix.cmake.configure_preset }}

    - name: CMake build
      shell: cmd
      run: |
        call "${{ matrix.cmake.vcvars }}"
        cmake --build --preset ${{ matrix.cmake.build_preset }}
